.wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.wrapper a {
	width: 330px;
	height: 470px;
	background-color: var(--white);
	overflow: hidden;
	transition: all 0.25s;
	position: relative;
	top: 5px;
	box-shadow: none;
	filter: grayscale(1);
	animation: resume 4s infinite ease;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius-mid);
}

.wrapper a > svg {
	transition: 0.25s all;
}

.wrapper a:hover {
	filter: none;
}

.wrapper a > svg {
	fill: var(--background);
	font-size: 130px;
}

.wrapper a:hover > svg {
	fill: var(--primary);
	scale: 1.2;
	transform: rotate(-10deg);
}

@keyframes resume {
	0% {
		box-shadow: 0 0 80px -10px var(--primary);
	}
	50% {
		box-shadow: 0 0 80px -50px var(--primary);
	}
	100% {
		box-shadow: 0 0 80px -10px var(--primary);
	}
}

@media screen and (max-width: 500px) {
	.wrapper a {
		width: 100%;
	}
}
