.wrapper {
  height: 74px;
  background-color: #0004;
  border: 1px var(--white) solid;
  user-select: none;
  border-radius: var(--border-radius-big);
  opacity: 0.7;
  transition: all 0.25s;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  gap: var(--gap);
}

.line {
  display: flex;
  align-items: center;
  justify-content: end;
  white-space: nowrap;
  gap: var(--gap);
  flex-shrink: 0;
  white-space: nowrap;
}

.first {
  animation: marquee1 60s infinite linear;
  animation-delay: -60s;
  padding-left: var(--gap);
}

.second {
  animation: marquee2 60s infinite linear;
  animation-delay: -30s;
  padding-right: var(--gap);
}

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.item__wrapper {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.item {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
}

.item__icon {
  font-size: 40px;
  display: flex;
  align-items: center;
}

.item__title {
  font-weight: 400;
  color: white;
  font-size: 16px;
  text-align: center;
  word-break: keep-all;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 50px;
  }

  .item__icon {
    font-size: 30px;
  }

  .item__title {
    font-size: var(--text-size-small);
  }
}
