.wrapper {
	height: 74px;
	background-color: #0004;
	border: 1px var(--white) solid;
	user-select: none;
	border-radius: var(--border-radius-big);
	opacity: 0.7;

	display: flex;
	overflow-x: hidden;
	align-items: center;
	gap: var(--gap);
}

.line {
	display: flex;
	align-items: center;
	justify-content: end;
	white-space: nowrap;
	gap: var(--gap);
	flex-shrink: 0;
	white-space: nowrap;
}

.first {
	animation: marquee1 20s infinite linear;
	animation-delay: -20s;
}

.second {
	animation: marquee2 20s infinite linear;
	animation-delay: -10s;
}

@keyframes marquee1 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes marquee2 {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-200%);
	}
}

.item__wrapper {
	display: flex;
	align-items: center;
	gap: var(--gap);
}

.item {
	display: flex;
	flex-direction: row;
	gap: var(--gap);
	align-items: center;
	justify-content: center;
}

.item__icon {
	font-size: 40px;
}

.item__title {
	font-weight: 400;
	color: white;
	font-size: 16px;
	text-align: center;
	word-break: keep-all;
}
