.wrapper {
  height: 50px;
  border: none;
  border-radius: var(--border-radius-small);
  background-color: var(--primary);
  font-size: var(--text-size-small);
  color: var(--background-deep);
  padding: 0px 24px;
  transition: all 0.4s;
  display: flex;
  align-items: center;
}

.wrapper:hover {
  box-shadow: 0 0 50px -20px var(--primary);
}

.wrapper:active {
  background-color: var(--secondary);
  box-shadow: 0 0 50px -10px var(--secondary);
}

.bold {
  font-weight: 1000;
}

.uppercase {
  text-transform: uppercase;
}
