.wrapper {
  height: 50px;
  border: none;
  border-radius: var(--border-radius-small);
  background-color: var(--primary);
  font-size: var(--text-size-small);
  color: var(--background-deep);
  padding: 0px 24px;
}

.bold {
  font-weight: 800;
}

.uppercase {
  text-transform: uppercase;
}
