.wrapper {
  height: 50px;
  border: 1px solid transparent;
  border-radius: var(--border-radius-small);
  background-color: var(--white);
  font-size: var(--text-size-small);
  color: var(--background);
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper:hover.wrapper > svg {
  fill: var(--white);
  color: var(--white);
}

.wide {
  padding: 0px 24px;
}

.square {
  padding: 0px 0px;
  height: 50px;
  width: 50px;
}

.wrapper > svg {
  fill: var(--background);
  font-size: var(--text-size-medium);
  transition: all 0.1s;
}

.wrapper:hover {
  box-shadow: 0 0 50px -10px var(--primary);
  fill: var(--white);
  color: var(--white);
  background-color: var(--primary);
}

.wrapper:hover.wrapper > svg {
  fill: var(--white);
  color: var(--white);
}

.wrapper:hover.dark_bg {
  background-color: var(--background);
}

.wrapper:active {
  background-color: var(--background);
  border-color: var(--white);
  color: var(--white);
  fill: var(--white);
}

.wrapper:active.wrapper > svg {
  color: var(--white);
  fill: var(--white);
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.desktop_hidden {
  display: none;
}

@media (max-width: 720px) {
  .desktop_hidden {
    display: block;
  }
}
