.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  user-select: none;
}

.item {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.item > img {
  background-color: var(--white);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  transition: all 0.25s;
  object-fit: cover;
}

.item > h2 {
  font-size: var(--text-size-big);
  transition: all 0.25s;
  margin-left: 14px;
}

.logo {
  transition: all 0.2s;
}

.logo:active {
  scale: 0.96;
}

.logo:hover .item > img {
  box-shadow: 0px 0px 40px -8px var(--primary);
  background-color: var(--primary);
}

.logo:hover .item > h2 {
}

.nav_list {
  display: flex;
  gap: var(--gap);
}

.nav_item > * {
  transition: all 0.2s;
  cursor: pointer;
  opacity: 0.7;
  user-select: none;
}

.nav_item:hover.nav_item > * {
  opacity: 1;
}

.nav_link {
  display: flex;
  gap: 4px;
  align-items: center;
}

.active {
  text-decoration: underline;
  opacity: 1 !important;
}

@media (max-width: 1070px) {
  .item > h2 {
    display: none;
  }
}
