.wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--component-gap);
}

.wrapper h2 {
  font-size: var(--text-size-large);
}

.wrapper h3 {
  font-size: var(--text-size-big);
}

.wrapper h4 {
  font-size: var(--text-size-medium);
}

.divider {
  display: inline;
  background-color: var(--primary);
  flex-grow: 1;
  height: 1px;
}

.skill_title {
  display: flex;
  align-items: center;
  gap: var(--medium-gap);
}

.left_side {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-right: 8px;
  width: 49%;
  border-right: 1px solid var(--primary);
}

.right_side {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 49%;
}

.stack {
  display: flex;
  gap: var(--medium-gap);
  flex-wrap: wrap;
}

.collection {
  display: flex;
  width: 170px;
  flex-wrap: wrap;
  gap: var(--mini-gap);
}
