.wrapper {
  display: flex;
  gap: var(--component-gap);
  justify-content: space-between;
  align-items: center;
}

.left_half {
  width: 49%;
}

.right_half {
  width: 49%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: var(--gap);
}

.collection {
  display: flex;
  width: 170px;
  flex-wrap: wrap;
  gap: 4px;
}
