.wrapper {
  width: 100%;
  padding: 80px;
  background-color: var(--secondary-darker);
  border-radius: var(--border-radius-big);
  border: 1px solid var(--secondary);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  overflow: hidden;
  position: relative;
}

.wrapper > * {
  width: 60%;
}

.wrapper > h2 {
  font-size: var(--text-size-large);
}

.actions {
  display: flex;
  gap: var(--gap);
  align-items: center;
}

.actions > p {
  opacity: 0.5;
}

.photo {
  position: absolute;
  bottom: 0;
  right: -50px;
  width: 600px;
}

.icon {
  font-size: 30px;
  margin-left: 3px;
  fill: var(--background-deep);
}
