.wrapper {
	width: 100%;
	padding: 30px 40px 40px;
	border-radius: var(--border-radius-big);
	background-color: var(--primary);
	box-shadow: 0 0 200px -120px var(--primary);
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	overflow: hidden;
	position: relative;
	z-index: 50;
}

.wrapper > h2 {
	font-size: var(--text-size-large);
	line-height: 70px;
}

.professtion::before {
	content: '{';
	font-weight: inherit;
}

.professtion::after {
	content: '}';
	font-weight: inherit;
}

.professtion::after,
.professtion::before {
	animation: brackets 3s infinite;
	margin: 0 6px;
	position: relative;
}

@keyframes brackets {
	0% {
		bottom: 0;
	}
	50% {
		bottom: -4px;
	}
	100% {
		bottom: 0px;
	}
}

.desc {
	font-size: var(--text-size-medium);
	margin-bottom: 10px;
}

.actions {
	display: flex;
	gap: var(--gap);
	align-items: center;
}

.actions > p {
	opacity: 0.6;
}

.icon {
	font-size: 30px;
	margin-left: 3px;
	fill: var(--background);
}
