/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables */

:root {
	/* Borders */

	--border-radius-big: 16px;
	--border-radius-mid: 12px;
	--border-radius-small: 6px;

	/* Colors */

	--background: #000000;
	--background-gradient: linear-gradient(
		to bottom,
		var(--background) -50%,
		#707070 1000%
	);

	--white: #ffffff;
	--grey: #050505;
	--primary: #cf4c22;

	/* Text Vars */

	--text-primary: #f5faff;
	--text-secondary: #7c8491;

	--text-size-tiny: 12px;
	--text-size-small: 16px;
	--text-size-medium: 24px;
	--text-size-big: 36px;
	--text-size-large: 56px;

	--mini-gap: 4px;
	--medium-gap: 8px;
	--gap: 16px;
	--component-gap: 30px;
}

/* Global rules */

*,
*:before,
*:after {
	color: var(--text-primary);
	font-family: 'Manrope', sans-serif;
	box-sizing: border-box;
	font-size: text-size-small;
	font-weight: 500;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
	display: inline;
}

a {
	font-weight: 500;
	text-decoration: inherit;
}

html {
	max-width: 100%;
	max-height: 100vh; /* or a fixed value, e.g., 600px */
}

body {
	background-color: var(--background);
	background: var(--background-gradient);
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100vh;
	padding: 1px;
}

img {
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}

/* Selector rules */

.container {
	margin: 20px auto;
	padding: 0 30px var(--component-gap) 0;
	max-width: 1200px;
}

/* Page transitions */

.fadeIn {
	animation: 0.35s fadeIn forwards;
}

.fadeOut {
	animation: 0.35s fadeOut forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate(-20px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translate(0px, 0px);
	}
	to {
		transform: translate(-20px, 0);
		opacity: 0;
	}
}
