/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variables */

:root {
  --border-radius-big: 16px;
  --border-radius-mid: 12px;
  --border-radius-small: 6px;

  --background-deep: #0f0e15;
  --background-mid: #111018;
  --background-shallow: #211e2f;
  --background-gradient: linear-gradient(
    to bottom,
    var(--background-deep) 0%,
    var(--secondary) 400%
  );

  --text-primary: #f5faff;
  --text-secondary: #7c8491;

  --text-size-tiny: 12px;
  --text-size-small: 16px;
  --text-size-medium: 24px;
  --text-size-big: 36px;
  --text-size-large: 48px;

  --primary: #53ffb1;
  --secondary: #915fff;
  --tertiary: #d874e2;
  --quaternary: #c82540;
  --quinary: #f7cb60;
  --senary: #53ffb1;

  --gap: 16px;
}

/* Global rules */

* {
  color: var(--text-primary);
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  font-size: text-size-small;
}

/* Rules */

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
}

body {
  background-color: var(--background-deep);
  background: var(--background-gradient);
  height: 100vh;
}

.container {
  margin: 20px 40px;
}
